@import url(//db.onlinewebfonts.com/c/99f80a7550e09152184491b1d961ca90?family=PF+Din+Text+Comp+Pro);
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
a{
    text-decoration: none;
    display: inline-block;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 15px;
}
.mainscreen{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.mainscreen__inner{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}
.card {
    max-width: 380px;
    width: 100%;
    height: 300px;
    background-color: #1B232C;
    transition: all .5s;
}
.card:hover{
    transform: scale(1.05);
}
.card-active{
    max-width: 780px;
    height: 380px;
    position: relative;
}
.card__inner{
    padding: 32px 16px;
    text-align: center;
}
.card-active .card__inner{
    padding: 32px;
}
.card__title{
    margin-bottom: 16px;
}
.team__box{
    display: flex;
    justify-content: space-between;
    max-width: 340px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 32px;
}
.card-active .team__box{
    max-width: 700px;
}
.team__box-text{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
}
.team__box-score{
    font-size: 40px;
    line-height: 50px;
    color: #CC122D;
    padding: 8px 3px;
    background-color: #fff;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
}
.team__box-timer{
    background: rgba(204, 18, 45, 0.3);
    padding: 8px;
    max-width: 250px;
    width: 100%;
    font-size: 40px;
    line-height: 50px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
}
.info__box{
    display: flex;
    justify-content: space-between;
}
.info__box-text{
    text-align: left;
}
.info__box-date{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.info__box-place{
    font-size: 16px;
    line-height: 20px;
    color: #A5ACB8;
}
.info__box-btn{
    width: 57px;
    height: 48px;
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
}
.info__box-btn::before{
    content: '';
    background-image: url(../img/ArrowRight.png);
    width: 20px;
    height: 20px;
    left: 18px;
    top: 14px;
    position: absolute;
}
.info__box-bids{
    display: flex;
    justify-content: space-between;
    max-width: 218px;
    width: 100%;
    align-items: center;
}
.info__box-bid{
    background-color: #394552;
    width: 49px;
    height: 22px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 3px solid white;
    border-radius: 27px;
    font-size: 16px;
    padding: 12px 25px;
    position: relative;
    cursor: pointer;
    transition: all .5s;
    font-family: 'PF Din Text Comp Pro', sans-serif;
    font-weight: 500;
}
.bid-green{
    background: #27AF11;
}
.bid-red{
    background: #CC122D;
}
.info__box-bid span{
    color: #A5ACB8;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 30px;
}
.bids__adap{
    display: none;
}
.info__box-buyticket{
    max-width: 180px;
    height: 48px;
    width: 100%;
    cursor: pointer;
    position: relative;
    background-color: #CC122D;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 24px 12px 48px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}
.info__box-buyticket::before{
    content: '';
    background-image: url(../img/ticket.png);
    width: 20px;
    height: 18px;
    position: absolute;
    left: 20px;
    top: 14px;
}
.card__broadcast-btn{
    bottom: 0;
    left: 0;
    position: absolute;
    height: 50px;
    width: 100%;
    background: linear-gradient(0deg, #9D9E9F -5%, #C4C7C9 71.21%, #A0A2A4 108.08%);
    border: none;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #2C2C2C;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}
.card__broadcast-btn::after{
    content: '';
    background-image: url(../img/play-button.png);
    position: absolute;
    width: 36px;
    height: 36px;
    top: 7px;
    right: 145px;
}
.card-active .team__box-text{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}
.card-active .info__box-date{
    font-family: 'Jost', sans-serif;
    font-weight: 700;

}
.card-waiting .info__box-buyticket{
    width: 56px;
}
.card-waiting .info__box-buyticket::before{
    left: 50%;
    transform: translateX(-50%);
}
.mainscreen__slider{
    display: none;
}



@media (max-width: 1580px){
    .card-active{
        max-width: 730px;
    }
    .card__broadcast-btn::after{
        right: 120px;
    }
}

@media (max-width: 1530px){
    .card{
        max-width: 310px;
    }
    .card-active{
        max-width: 730px;
    }
}

@media (max-width: 1400px){
    .card{
        max-width: 310px;
    }
    .card-active{
        max-width: 680px;
        height: 430px;
    }
    .info__box-bids{
        display: none;
    }
    .bids__adap{
        display: flex;
        margin: 0 auto;
        margin-top: 15px;
    }
    .card__broadcast-btn::after{
        right: 100px;
    }
}

@media (max-width: 1330px){
    .mainscreen__inner{
        display: none;
    }
    .mainscreen__slider{
        display: block;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .rec-arrow-left{
        display: none !important;
    }
    .rec-arrow-right{
        display: none !important;
    }
    .rec-pagination{
        display: none !important;
    }
    .info__box-buyticket .ticket{
        display: none;
    }
}

@media (max-width: 730px){
    .team__box-timer{
        font-size: 30px;
        max-width: 200px;
    }
    .card__broadcast-btn::after{
        right: 90px;
    }
    .info__box-buyticket{
        max-width: 120px;
    }
}

@media (max-width: 700px){
    .card__broadcast-btn{
        background: #F0F2F6;
        font-size: 16px;
    }
}

@media (max-width: 630px){
    .team__box-timer{
        font-size: 20px;
        max-width: 150px;
    }
    .card-active .team__box-text{
        font-size: 16px;
    }
    .team__box img {
        width: 80px;
    }
}

@media (max-width: 580px){
    .card__broadcast-btn::after{
        right: 70px;
    }
}

@media (max-width: 530px){
    .card__broadcast-btn::after{
        right: 60px;
    }
}

@media (max-width: 510px){
    .card__broadcast-btn::after{
        right: 50px;
    }
}

@media (max-width: 480px){
    .team__box-timer{
        max-width: 110px;
        font-size: 16px;
    }
    .mainscreen{
        background-image: url(../img/mobile-bg.jpg);
    }
    .card__broadcast-btn{
        font-size: 12px;
    }
}

@media (max-width: 450px){
    .team__box-score{
        font-size: 24px;
    }
    .info__box-date{
        font-size: 20px;
    }
}

@media (max-width: 420px){
    .team__box-score{
        font-size: 24px;
    }
    .info__box-date{
        font-size: 16px;
    }
    .info__box-buyticket .buy{
        display: none;
    }
    .info__box-buyticket{
        width: 56px;
    }
    .info__box-buyticket::before{
        left: 50%;
        transform: translateX(-50%);
    }
    .card-active .team__box-text{
        font-size: 12px;
    }
    .card-active .card__inner{
        padding: 16px;
    }
    .team__box-timer{
        padding: 4px;
        max-width: 90px;
        font-size: 12px;
    }
    .team__box img {
        width: 60px;
    }
    .card-active{
        height: 370px;
    }
    .card__broadcast-btn::after{
        right: 30px;
    }
}

@media (max-width: 420px){
    .card__broadcast-btn::after{
        right: 5px;
    }
}